Checks: >
  abseil-*,
  readability-*,
  modernize-*,
  performance-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
WarningsAsErrors: '' # Treat warnings as errors
HeaderFilterRegex: '.*'
FormatStyle: none
