BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Right
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
PackConstructorInitializers: Never
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: true
IncludeBlocks: Preserve
SortIncludes: Never
AlignConsecutiveDeclarations: true
