[tools]
node = "latest"
python = "latest"
buf = "latest"

[env]
PROFILE = "debug"
COMPILER = "clang"
JOBS = "24"
#IMAGE = "gcc"
IMAGE = "silkeh/clang"
IMAGE_VERSION = "latest"

[tasks.conan]
run = [
  "conan install . --output-folder=build --build=missing --profile:build=./conan/profiles/{{env.PROFILE}}-{{env.COMPILER}} --profile:host=./conan/profiles/{{env.PROFILE}}-{{env.COMPILER}}",
  "cmake --preset conan-{{env.PROFILE}}",
]

[tasks.build]
run = ["cmake --build ./build -j{{env.JOBS}}"]

[tasks.image]
run = """
  podman build \
  --build-arg TARGET={{env.IMAGE}}:{{env.IMAGE_VERSION}} \
  --build-arg COMPILER={{env.COMPILER}} \
  --build-arg BUILD_TYPE={{env.PROFILE}} . --file Dockerfile --tag tinykvpp-{{env.COMPILER}}
  """

[tasks.up_standalone]
run = """
  cd infra
  podman compose -f docker-compose.standalone.yaml up -d
"""

[tasks.down_standalone]
run = """
  cd infra
  podman compose -f docker-compose.standalone.yaml down -v 
"""

[tasks.up_cluster]
run = """
  cd infra
  podman compose -f docker-compose.cluster.yaml up -d
"""

[tasks.down_cluster]
run = """
  cd infra
  podman compose -f docker-compose.cluster.yaml down -v 
"""

[tasks.kvtest]
run = """
  ./tests/go/kvtest/cmd/kvtest/kvtest -c {{arg(name="kvtest.yml", default="./tests/go/kvtest/cmd/kvtest/kvtest.yml")}} run
"""
